
body, h1, h2, h3 {
	font-family: 'Roboto', sans-serif !important;
}

.fullwidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.bigwidth {
   width: 85%;
   max-width: initial;
}

.jumbo {
	text-align: center;
	padding: 0.5em;
}

.jumbo h1 {
	font-size: 5em;
}

.huge {
	font-weight: bold;
	font-size: 3em;
}

.upvote {
	color: orangered;
}

.downvote {
	color: #5959FF; /*darker than #CCCCFF for readability*/
}

.jumbo::after {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    margin: 0 0 0 -1em;
    border: 30px solid transparent;
    border-top: 30px solid white;
}

.search-bar {
	background-color: orangered;
	color: white;
	width: 100%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
	margin-bottom: 20px !important;
}

.reddit-prefix {
	display: inline-block;
	text-align: right;
	font-size: 40px;
	padding-right: 0;
}

.search-again-prefix {
	display: inline-block;
	text-align: right;
	font-size: 36px;
	padding-right: 0;
	padding-bottom: 5px;
}

.search-button {
	border-width: 3px;
	border-color: white;
	font-weight: bold;
}

.search-bar input[type="text"] { 
	height: 60px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	background-color: orangered;
	border-bottom-color: white;
	border-width: 0 0 3px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 0px 0px inset;
}

.search-bar input:focus {
	outline: none; 
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}

.stat-box {
	border-style: solid;
	border-width: 1px;
	border-color: #d8d8d8;
	margin-bottom: 1.25rem;
	padding: 0.5rem;
	background: #f2f2f2;

}

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }