<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reddit Thingamajig | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/foundation-icons.css" />
    <!-- Optional, web font -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
   
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            Reddit Thingamajig
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="#">Made by krysjez/versere/augusthex</a></li>
        <li class="divider"></li>
        <li>          
          <a href='mailto:reddit@jessicayang.org'><i class='fi-mail' style='color:white; margin-right: 10px'></i>Feedback</a>
        </li>
      </ul>
    </section>
  </nav>
 
  <!-- End Top Bar -->
 
  <div class="row fullwidth">
    <div class="large-12 columns">
      <div class="row">   <!-- Jumbo Header -->
        <div class="small-6 small-centered columns jumbo">
          <h1>Get insights on your<br> favorite subreddits</h1>
          <h3>Enter a subreddit name below and we'll find out what their and did those feet in ancient time walk upon England's mountains green.</h3>
        </div>
      </div>    <!-- End Jumbo Header -->

      <div class='row search-bar'> <!-- search bar -->
          <!-- <div class='row collapse'> -->
          <div class='small-5 columns reddit-prefix'>
            <i class='fi-social-reddit size-60'></i>
            reddit.com/u/
          </div>
          <!-- </div> -->
          <div class='reddit-search small-3 columns'>
            <form>
              <input type='text' id='subreddit-input'></input>
          </div>
          <div class="reddit-search small-2 columns left">
            <a href="#" class='button' id='reddit-search-button'>Give me numbers!</a>
        </div>

             
              <!-- <i class='fi-magnifying-glass size-48'></i> -->
            </form>
          </div>
      </div> <!-- end search bar -->
 
      </div>
    </div> <!-- end fullwidth row -->
 
    <div class='row'> <!-- main content header row -->
      <div class="small-12 columns">
        <p>Interesting results from our current database, last updated <b>PROBABLY NEED A DATABASE ENTRY FOR THIS</b><br>Search for a subreddit to refresh our data!</p>
      </div>
    </div> <!-- end main content header row -->

    <div class="row bigwidth"> <!-- main content row 1 -->
      <div class='small-4 columns'>
        <div class='stat-box'>asdfadfa</div>
      </div>
      <div class='small-4 columns'>
        <div class='stat-box'>asdfadfa</div>
      </div>
      <div class='small-4 columns'>
        <div class='stat-box'>asdfadfa</div>
      </div>
    </div> <!-- end main content row 1 -->

    <div class="row bigwidth"> <!-- main content row 2 -->
      <div class='small-4 columns'>
        <div class='stat-box'>asdfadfa</div>
      </div>
      <div class='small-4 columns'>
        <div class='stat-box'>asdfadfa</div>
      </div>
      <div class='small-4 columns'>
        <div class='stat-box'>asdfadfa</div>
      </div>
    </div> <!-- end main content row 2 -->

    <div class="row bigwidth"> <!-- main content row 3 -->
     <div class="small-4 columns">
      <div class="stat-box">
        tatata
      </div>
     </div>
     <div class="small-8 columns">
      <div class="stat-box">
        tatata
      </div>
    </div> <!-- end main content row 3 -->


    <!-- End Content -->
 
 
    <!-- Footer -->
 
      <footer class="row">
        <div class="large-12 columns"><hr>
            <div class="row">
 
              <div class="large-8 small-12 columns">
                  <h5>What is this?</h5>
                  <p>Made for Introduction to Database Systems, CPSC 473 Spring 2014, Yale University</p>
              </div>

              <div class='large-6 columns'>
                <p></p>
              </div>
 
            </div>
        </div>
      </footer>
 
    <!-- End Footer -->
 
    </div>
  </div>
 
  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
<!-- End Footer -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/templates/foundation.js"></script>
    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
  </body>
</html>
